# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
env/

# Project Specific
backend/uploads/tmp_*
poppler/
Tesseract-OCR/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
.DS_Store
node_modules/
